<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687458746164-3er534afd392vrv03t5pfirc1t47ai7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687458746164-3er534afd392vrv03t5pfirc1t47ai7t</string>
	<key>API_KEY</key>
	<string>AIzaSyAm0U-KmlFU_8qJevjRa-rHdYFcgU3NEfM</string>
	<key>GCM_SENDER_ID</key>
	<string>687458746164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MorSorkorApp</string>
	<key>PROJECT_ID</key>
	<string>morsorkorapp</string>
	<key>STORAGE_BUCKET</key>
	<string>morsorkorapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687458746164:ios:ce295e21b486d0bc222f61</string>
</dict>
</plist>